<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/pages/about.css">

    <!--importing icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>About the Site - Archer's Freedom Wall</title>
</head>
<body>
    <div id="navbar">{{> nav}}</div>
    <div id="register-wrapper">{{> register}}</div>
    {{> modals}}

    <main>
        <div id="main-content">
            <div class="section">
                <h1>About the Site</h1>
                <p>The Archer's Freedom Wall is a site made by Lasallians for Lasallians to freely talk about campus life in one designated spot. To post, a user must log in.</p>
            </div>
            <div class="section">
                <h2>Tech Stack Used</h2>
                <p>HTML, CSS, Javascript with Node.js</p>
            </div>
            <div class="section">
                <h2>Node Packages Used</h2>
                <ul>
                    <li><a href="http://npmjs.com/package/express">express</a></li>
                    <li><a href="http://npmjs.com/package/mongoose">mongoose</a></li>
                    <li><a href="http://npmjs.com/package/express-handlebars">express-handlebars</a></li>
                    <li><a href="http://npmjs.com/package/dotenv">dotenv</a></li>
                    <li><a href="http://npmjs.com/package/uuid">uuid</a></li>
                    <li><a href="http://npmjs.com/package/gridfs-stream">gridfs-stream</a></li>
                </ul>
            </div>
        </div>
    </main>
    

</body>
</html>