<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/pages/mainpage.css">

    <!--importing icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>Archer's Freedom Wall</title>
</head>
<body data-page="home">
    <div id="navbar">{{> nav}}</div>
    <div id="register-wrapper">{{> register}}</div>
    {{> modals}}

    <main>
        <div id="main-content">
            <h2 id="main-header">Recently Posted</h2>
            <div id="content-wrapper">
                <div id="posts-wrapper">
                    {{#if posts.length}}
                        {{#each posts}}
                            {{> post this fullContent=false}}
                        {{/each}}
                    {{else}}
                        <p>No posts found.</p>
                    {{/if}}
                </div>
                
                <aside id="tags-area">
                    <h4>Popular Tags</h4>
                    <ul id="tags-wrapper">
                    </ul>
                </aside>
            </div>
            <p id="login-note-footer">Want to see more? <span id="login-note-footer-button">Register</span></p>
            {{> pagination pagination}}
        </div>
    </main>
    {{> footer}}
    
    <!-- importing javascript -->
    <script type="module" src="../../js/pages/home.js"></script>

</body>
</html>