<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--importing icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../css/pages/profile.css" />

    <title>{{title}} - Archer's Freedom Wall</title>
</head>
<body data-page="profile">
    <div id="navbar">{{> nav}}</div>
    <div id="register-wrapper">{{> register}}</div>
    {{> modals}}

    <main>
        <div id="profileHeader">
            <div id="iconWrapper">
                <img src="../../assets/defaulticon.png" class="icon" id="profilePic">
                <button id="editIconBtn" class="hide"><span class="material-symbols-outlined">add_a_photo</span></button>
            </div>
            <div id="info">
                <h1 id="username">{{user.credentials.username}}</h1>
                <p id="bio">{{user.decor.bio}}</p>
            </div>
            <div id="btnWrap" class="hide">
                <button class="profileBtn" id="editButton">Edit Profile</button>
                {{!-- can implement in the future as bonus feature --}}
                {{!-- <button class="profileBtn hide" id="changePassBtn">Change Password</button> --}}
                <button class="profileBtn hide" id="deleteProfileBtn">Delete Profile</button>
            </div>
            
        </div>
        <div id="profileActivity">
            <h1 id="recentLabel">Recent Activity</h1>

            <div id="profileTabs">
                <button class="selected" id="postsTab">Posts</button>
                <button id="commentsTab">Comments</button>
            </div>

            <div class="tabContent" id="profilePosts">
                <div class="tabContentWrap" id="posts-wrapper">
                    {{#each posts}}
                        {{> post this fullContent=false}}
                    {{/each}}
                </div>
            </div>

            <div class="tabContent hide" id="profileComments">
                <div class="tabContentWrap" id="comments-wrapper">
                    {{#each comments}}
                        {{> comment this}}
                    {{/each}}
                </div>
            </div>

            <button id="viewAll">View all <span class="material-symbols-outlined">keyboard_double_arrow_down</span></button>
        </div>
    </main>

    <!-- importing javascript -->
    <script type="module" src="../../js/pages/profile.js"></script>
</body>
</html>