<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Archer's Freedom Wall</title>

    <link rel="stylesheet" href="../../css/pages/search.css">
    <!--importing icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body data-page="search">
    <div id="navbar">{{> nav}}</div>
    <div id="register-wrapper">{{> register}}</div>
    {{> modals}}

    <main>
        <div id="filters-wrapper">
            <h4>Search by</h4>
            <div id="filters">
                <div class="filter-groups">
                    <ul>
                        <li>
                            <a href="#" id="filter-users">
                                <div class="labels">
                                    <span class="material-symbols-outlined">person</span>
                                    <p>Users</p>
                                </div>
                                <span class="count">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="filter-posts">
                                <div class="labels">
                                    <span class="material-symbols-outlined">sticky_note_2</span>
                                    <p>Posts</p>
                                </div>
                                <span class="count">55</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="filter-comments">
                                <div class="labels">
                                    <span class="material-symbols-outlined">comment</span>
                                    <p>Comments</p>
                                </div>
                                <span class="count">33</span>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="filter-groups">
                    <h5>Filter by tag</h5>
                    <ul>
                        {{!-- filter every post by their tag present --}}
                        {{#each tags}}
                        <li>
                            <a href="#" class="filter-tags">
                                <div class="labels">
                                    <span class="material-symbols-outlined">tag</span>
                                    <p>Tag 1</p>
                                </div>
                                <span class="count">1</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                
            </div> 
        </div>
        <div id="wrapper">
            <div id="posts-wrapper">
                {{#each posts}}
                    {{> post this}}
                {{/each}}
            </div>
        </div>
    </main>

    <script type="module" src="../../js/pages/search.js"></script>
</body>
</html>