@import url("default.css");

nav {
    border-bottom: var(--border);
    padding: 1em;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;
    gap: 0.5em;
    align-items: center;

    & .search {
        & .query {
            display: flex;
            justify-content: space-between;
            align-items: center;

            border: var(--border);
            padding: 0.3em 1em;
            border-radius: 9999em;

            & input {
                width: 50em;
            }

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
    & .account {

        display: flex;
        align-items: center;
        flex-grow: 0;

        & .loggedin {

            display: flex;
            align-items: center;
            gap: 2em;

            .profile {

                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 0;
                gap: 0.5em;

                & .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & img {
                        width: auto;
                        height: auto;
                        max-width: 3em;
                    }
                }

            }
                
            .newpost {

                padding: 0.4em 1em;
                border: var(--border);
                border-radius: 9999em;

                display: flex;
                align-items: center;
                gap: 0.25em;
            }
            
        }

        & .loggedout {
            display: none;
            align-items: center;
            flex: 0 1 auto;
            gap: 0.75em;

            button {
                padding: 0.75em;
                border: var(--border);
                border-radius: 0.5em;

                &.signup {
                    background-color: var(--color-dark);
                    color: var(--color-light);
                }
            }
        }
    }
}