@import url('../base/default.css');

.modal {
    display: block;
    position: fixed;
    z-index: 10000000;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--color-light);
    margin: 5% auto;
    padding: 1.5em;
    width: 80%;
    max-width: 500px;

    border: var(--border);
    border-radius: 0.5em;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postText-title{
    margin: 1% auto;

    input {

        font-size: 1em;

        border: var(--border-small);
        border-color: var(--color-accent);
        border-radius: 0.3em;

        width: 100%;
        resize: none;

        padding: 0.3em;
    }
}

.postText-content{
    margin: 1% auto;
    textarea {

        font-size: 0.9em;

        border: var(--border-small);
        border-color: var(--color-accent);
        border-radius: 0.3em;

        resize: none;

        padding: 0.3em;

        height: 8em;
    }
}

#tag-area {
    margin: 1% auto;
    width: 100%;
    height: 10% auto;
    border: var(--border-small);
    border-color: var(--color-accent);
    border-radius: 0.3em;
    padding: 5px;
    overflow-y: scroll; /* Add scroll if content overflows */
}
  
.tag {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff; /* Light gray background for tags */
}

.tag span { /* Style the tag text */
    margin-right: 5px; /* Space between text and close icon */
    
}

.tag .close {
    cursor: pointer;
    color: #888; /* Slightly darker gray for close icon */
    font-weight: bold; /* Make close icon bolder */
}

#new-tag-input {
    padding: 5px;
    border: var(--border-small);
    border-color: var(--color-accent);
    border-radius: 0.3em;
}

#add-tag-button{
    padding: 5px;
    border: var(--border-small);
    border-color: var(--color-accent);
    border-radius: 0.3em;
}

#add-tag-button:hover {
    background: #8a8a8a;
}

.postButtons{
    margin: 1% auto;
}

.close {
    color: var(--color-dark);
    font-weight: 900;
}

.close:hover,
.close:focus {
    color: var(--color-dark);
    text-decoration: none;
    cursor: pointer;
}
