@import url('../base/default.css');
@import url("comment.css");

/* Modal template for Viewing and Editing a Post */
.modal {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: var(--color-light);
    margin: 5% auto;
    padding: 1.5em;
    padding-top: 2em;
    width: 65%;

    border: var(--border);
    border-radius: 0.5em;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.postText-title{
    margin: 3% auto;

    input {

        font-size: 1em;

        border-bottom: var(--border-small);
        border-color: var(--color-accent-dark);

        width: 100%;
        resize: none;

        padding: 0.3em;
    }
}

.postText-content{
    margin: 1% auto;
    textarea {

        font-size: 0.9em;

        border: var(--border-small);
        border-color: var(--color-accent-dark);
        border-radius: 0.3em;

        resize: none;

        padding: 0.3em;

        width: 100%;
        height: 30% auto;
    }
}

.postText-tagArea {
    margin: 1% auto;
    width: 100%;
    border: var(--border-small);
    border-color: var(--color-accent-dark);
    border-radius: 0.3em;
    padding: 5px;
    overflow-y: auto; 
}
  
.tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 5px;
    margin: 0.5%;
    border: 1px solid var(--color-accent-dark);
    border-radius: 3px;
    background-color: var(--color-light); 
}

.tag .remove-tag-button{
    margin-left: 0.3em;
    color: var(--color-accent);
    cursor: pointer;
}

.post-new-tag-input, .edit-new-tag-input {
    padding: 5px;
    border: var(--border-small);
    border-color: var(--color-accent-dark);
    border-radius: 0.3em;
    font-size: var(--font-smaller);
}

.add-tag-button{
    padding: 5px;
    border: var(--border-small);
    border-color: var(--color-accent-dark);
    border-radius: 0.3em;
    font-size: var(--font-smaller);
}

.add-tag-button:hover {
    background: #8a8a8a;
}

.postButtons{
    margin: 1.5% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5em;

    button {
        padding: 0.4em 1em;
        border: var(--border);
        border-radius: 0.5em;
        font-size: var(--font-smaller);

        &.uploadPostBtn, &#cancelPostBtn, &#dlt-cancelPostBtn, &#dlt-cancelCommentBtn {
            background-color: var(--color-dark);
            color: var(--color-light);
        }
    }

    .uploadPostBtn:hover, .discardPostBtn:hover, .uploadPostBtn:focus, .discardPostBtn:focus {
        color: var(--color-accent);
        text-decoration: none;
        cursor: pointer;
    }
}

.close {
    font-size: 1.7em;
    font-weight: bold;
    position: absolute;
    top: 0.2em;
    right: 0.6em;
}

.close:hover,
.close:focus {
    color: var(--color-accent);
    text-decoration: none;
    cursor: pointer;
}

#deletePostModal, #deleteCommentModal {
    p {
        margin-top: 0.25em;
    }
}