@import url("../base/default.css");
@import url("sidebar.css");


#navbar {
    position: sticky;
    top: 0;
    z-index: 990;

    -webkit-box-shadow: 0px 3px 6px #00000029;

            box-shadow: 0px 3px 6px #00000029;

    nav {
        border-bottom: var(--border);
        padding: 1em 1.5em;

        position: sticky;
        top: 0;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 0.5em;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        #nav-title {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 1.5em;
            cursor: pointer;

            #sidebar-button {
                cursor: pointer;
            }
        }

        #nav-search {
            position: relative;

            border: var(--border-small);
            padding: 0.3em 1em;
            border-radius: 9999em;

            width: 100%;
            max-width: 50em;

            #search-query {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 0.3em;
                
                input {
                    -webkit-box-flex: 1;
                        -ms-flex: 1 1 50em;
                            flex: 1 1 50em;
                    font-size: var(--font-smaller);
                }

                button {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;

                    &:hover {
                        span {
                            color: var(--color-accent-dark);
                        }
                        
                    }
                }
            }

            #search-results {

                display: block;
                border: var(--border-small);
                border-radius: 0.5em;
                -webkit-box-shadow: 0px 3px 6px #00000029;
                        box-shadow: 0px 3px 6px #00000029;

                overflow: hidden;

                width: 100%;
                position: absolute;
                left: 0;
                top: 2.5em;

                li {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    border-bottom: var(--border-small);
                    overflow: hidden;

                    padding: 0.3em 1em;
                    font-size: var(--font-smaller);

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        padding: 0.3em 1em;
                    }
                }
            }
        }
        
        #nav-account {

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-flex: 0;
                -ms-flex-positive: 0;
                    flex-grow: 0;

            #nav-loggedin {

                display: -webkit-box;

                display: -ms-flexbox;

                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 2em;

                .create-post-btn {

                    padding: 0.3em 1em;
                    border: var(--border-small);
                    border-radius: 9999em;

                    display: -webkit-box;

                    display: -ms-flexbox;

                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 0.25em;

                    font-size: var(--font-smaller);

                    &:hover {
                        color: var(--color-accent-dark);
                        border-color: var(--color-accent-dark);
                        span {
                            color: var(--color-accent-dark);
                        }
                    }
                }

                #nav-profile {

                    display: -webkit-box;

                    display: -ms-flexbox;

                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-flex: 0;
                        -ms-flex-positive: 0;
                            flex-grow: 0;
                    gap: 0.5em;

                    #nav-username {
                        font-size: var(--font-smaller);
                    }

                    #nav-icon {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        width: 2em;
                        height: 2em;

                        img {
                            border-radius: 9999em;
                            max-width: 100%;
                            max-height: 100%;
                            -o-object-fit: cover;
                               object-fit: cover;
                        }
                    }

                    &:hover {
                        #nav-username {
                            color: var(--color-accent-dark);
                        }
                        
                        img {
                            border-color: var(--color-accent-dark);
                        }
                    }

                }
                
            }

            #nav-loggedout {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                        flex: 0 1 auto;
                gap: 0.75em;

                button {
                    padding: 0.4em 1em;
                    border: var(--border);
                    border-radius: 0.5em;
                    font-size: var(--font-smaller);

                    &#signupbtn {
                        background-color: var(--color-dark);
                        color: var(--color-light);
                    }
                }
            }
        }

        #nav-dark-mode {
            position: fixed;
            display: flex;
            align-items: center;
            left: 1em;
            bottom: 1em;
            padding: 0.5em;
            border-radius: 0.3em;
            border: var(--border-small);
        }
    }
}