@import url("../base/default.css");


#navbar {
    position: sticky;
    top: 0;

    nav {
        border-bottom: var(--border);
        padding: 1em 1.5em;

        position: sticky;
        top: 0;

        display: flex;
        justify-content: space-between;
        gap: 0.5em;
        align-items: center;

        .title {
            display: flex;
            align-items: center;
            gap: 1.5em;
        }

        .search {
            position: relative;

            .query {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                width: 100%;

                border: var(--border-small);
                padding: 0.3em 1em;
                border-radius: 9999em;

                input {
                    flex: 1 1 50em;
                    font-size: var(--font-smaller);
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            #queryresults {

                display: block;
                border: var(--border-small);
                border-radius: 0.5em;
                margin-top: 0.2em;

                overflow: hidden;

                width: 100%;
                position: absolute;

                li {
                    display: flex;
                    flex-direction: column;
                    border-bottom: var(--border-small);
                    overflow: hidden;

                    padding: 0.3em 1em;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        padding: 0.3em 1em;
                    }
                }
            }
        }
        
        .account {

            display: flex;
            align-items: center;
            flex-grow: 0;

            .loggedin {

                display: flex;
                align-items: center;
                gap: 2em;

                .create-post-btn {

                    padding: 0.3em 1em;
                    border: var(--border-small);
                    border-radius: 9999em;

                    display: flex;
                    align-items: center;
                    gap: 0.25em;

                    font-size: var(--font-smaller);
                }
                
                .create-post-btn:hover {
                    background: #8a8a8a;
                }

                .profile {

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-grow: 0;
                    gap: 0.5em;

                    .username {
                        font-size: var(--font-smaller);
                    }

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: auto;
                            height: auto;
                            max-width: 2em;
                        }
                    }

                    .options ul {
                        display: none;
                    }

                }
                
            }

            .loggedout {
                display: none;
                align-items: center;
                flex: 0 1 auto;
                gap: 0.75em;

                button {
                    padding: 0.4em 1em;
                    border: var(--border);
                    border-radius: 0.5em;

                    &#signupbtn {
                        background-color: var(--color-dark);
                        color: var(--color-light);
                    }
                }
            }
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
            gap: 10px;
        }
        
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
        }

        .postText-title{
            margin: 1% auto;
            textarea {
                width: 100%;
                height: 10% auto;
            }
        }

        .postText-content{
            margin: 1% auto;
            textarea {
                width: 100%;
                height: 30% auto;
            }
        }

        .postText-tags{
            margin: 1% auto;
            textarea {
                width: 100%;
                height: 10% auto;
            }
        }
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}