@import url('../base/default.css');
@import url('comment.css');

.post {

    border: var(--border);
    border-radius: 0.5em;
    padding: 1em;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.75em;
    box-shadow: 0px 3px 6px #00000029;

    .post-header {
        display: flex;
        justify-content: space-between;

        .post-info {
            display: flex;
            align-items: center;
            gap: 0.75em;

            .post-icon {
                display: flex;
                align-items: center;

                img {
                    width: 2.5em;
                    height: 2.5em;
                    max-width: 2.5em;
                    border-radius: 50%;

                    &:hover {
                        border-color: var(--color-accent-dark);
                    }
                }
            }

            .post-info-text {
                display: flex;
                flex-direction: column;
                gap: 0.1em;

                font-size: 0.95em;
                &:hover {
                    .post-username {
                        color: var(--color-accent-dark);
                    }
                }
                .post-date {
                    font-size: var(--font-smaller);
                }
                .post-edit {
                    font-size: var(--font-smaller);
                    color: var(--color-accent);
                }
            }
        }

        .post-options {
            position: relative;

            .post-menu-button {
                padding: 0.5em;

            }

            .post-menu {
                background-color: var(--color-light);
                min-width: 100px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                z-index: 1;

                position: absolute;
                right: 0;

                border: var(--border-small);
                border-radius: 0.3em;
                overflow: hidden;

                .post-menu-options {
                    padding: 0.5em 1em;
                }

                .post-menu-options:hover {
                    background-color: var(--color-light-dark);
                }
            }
        }
    }

    .post-body {
        display: flex;
        flex-direction: column;
        gap: 0.4em;

        .post-title {
            font-size: 1.2em;
            &:hover {
                h3 {
                    color: var(--color-accent-dark);
                }
            }
        }
    }

    .post-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;

        .post-tag {
            font-size: var(--font-smaller);
            text-decoration: underline;
            &:hover {
                color: var(--color-accent);
            }
        }
    }

    .post-buttons {
        display: flex;
        align-items: center;
        gap: 0.1em;

        .post-button {

            padding: 0.25em 0.5em;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3em;

            cursor: pointer;

            font-size: var(--font-smaller);
            .post-button-icon {
                font-size: 1.5em;
                &.reacted {
                    font-variation-settings: 'FILL' 1;
                    color: var(--color-accent-dark);
                }
            }

            &:hover {
                span {
                    color: var(--color-accent);
                }
            }
        }
    }
}