@import url('../base/default.css');
@import url('comment.css');

.post {

    border: var(--border);
    border-radius: 0.5em;
    padding: 1em;

    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.75em;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;

    .post-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .post-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 0.75em;

            .post-icon {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                img {
                    width: 2.5em;
                    height: 2.5em;
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;

                    &:hover {
                        border-color: var(--color-accent-dark);
                    }
                }
            }

            .post-info-text {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                gap: 0.1em;

                font-size: 0.95em;
                &:hover {
                    .post-username {
                        color: var(--color-accent-dark);
                    }
                }
                .post-date {
                    font-size: var(--font-smaller);
                }
                .post-edit {
                    font-size: var(--font-smaller);
                    color: var(--color-accent);
                }
            }
        }

        .post-options {
            position: relative;

            .post-menu-button {
                padding: 0.5em;

            }

            .post-menu {
                background-color: var(--color-light);
                min-width: 100px;
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                z-index: 1;

                position: absolute;
                right: 0;

                border: var(--border-small);
                border-radius: 0.3em;
                overflow: hidden;

                .post-menu-options {
                    padding: 0.5em 1em;
                }

                .post-menu-options:hover {
                    background-color: var(--color-light-dark);
                }
            }
        }
    }

    .post-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0.4em;

        .post-title {
            font-size: 1.2em;
            &:hover {
                h3 {
                    color: var(--color-accent-dark);
                }
            }
        }
    }

    .post-tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 0.5em;

        .post-tag {
            font-size: var(--font-smaller);
            text-decoration: underline;
            &:hover {
                color: var(--color-accent);
            }
        }
    }

    .post-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 0.1em;

        .post-button {

            padding: 0.25em 0.5em;

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            gap: 0.3em;

            cursor: pointer;

            font-size: var(--font-smaller);
            .post-button-icon {
                font-size: 1.5em;
                &.reacted {
                    font-variation-settings: 'FILL' 1;
                    color: var(--color-accent-dark);
                }
            }

            &:hover {
                span {
                    color: var(--color-accent);
                }
            }
        }
    }
}