@import url('../base/default.css');

#regWindow {
    display: block;
    width: 19.5em;
    height: auto;
    padding: 0.8em;
    padding-bottom: 2em;
    border: var(--border);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: var(--color-light);
    -webkit-box-shadow: 4px 4px 5px;
            box-shadow: 4px 4px 5px;
    z-index: 6;
}

.regContent {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10%;
    margin: auto;
    gap: 1em;
}

.regContent a {
    text-decoration: underline;
}

.regContent a:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.regInput, .regInput:focus {
    outline: 0.1em solid var(--color-dark);
    border-radius: 0.05em;
    margin: 0.2em;
    padding: 0.2em 2.5em 0.2em 0.3em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.regInput:hover {
    cursor: text;
}

.regButton {
    outline: 0.2em solid var(--color-dark);
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 1em;
}

.regButton:hover {
    color: var(--color-accent);
    outline-color: var(--color-accent);
}

#signup {
    display: -ms-grid;
    display: grid;
}

#login {
    display: -ms-grid;
    display: grid;
}

#rememberMe {
    margin-top: 1em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    opacity: 0.2;
    display: block;
    z-index: 5;
}

.regClose {
    font-size: 1.7em;
    font-weight: bold;
    position: absolute;
    top: 0.2em;
    right: 0.6em;
}

.regClose:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.passWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.2em;
}

.visibilityBtn:hover {
    color: var(--color-accent);
    cursor: pointer;
}