@import url('../base/default.css');

#regWindow {
    display: block;
    width: 19.5em;
    height: 20.5em;
    padding: 0.8em;
    border: var(--border);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 4px 4px 5px;
    z-index: 6;
}

.regContent {
    display: grid;
    justify-content: center;
    padding-top: 10%;
    margin: auto;
    gap: 1em;
}

.regContent a {
    text-decoration: underline;
}

.regContent a:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.regInput {
    outline: 0.1em solid var(--color-dark);
    border-radius: 0.05em;
    margin: 0.2em;
    padding: 0.2em 0em 0.2em 0.3em;
}

.regInput:hover {
    cursor: text;
}

.regButton {
    outline: 0.2em solid var(--color-dark);
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 1em;
}

.regButton:hover {
    color: var(--color-accent);
    outline-color: var(--color-accent);
}

#signup {
    display: grid;
}

#login {
    display: grid;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    display: block;
    z-index: 5;
}

.regClose {
    font-size: 1.7em;
    font-weight: bold;
    position: absolute;
    top: 0.2em;
    right: 0.6em;
}

.regClose:hover {
    color: var(--color-accent);
    cursor: pointer;
}