@import url('../base/default.css');

.card {

    border: var(--border);
    border-radius: 0.5em;
    padding: 1em;

    width: 100%;
    min-width: 45vw;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.75em;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;

    .card-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .card-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 0.75em;

            .card-icon {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                max-width: 3.5em;

                img {
                    width: auto;
                    height: auto;
                    border-radius: 50%;
                }
            }

            .card-info-text {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                gap: 0.1em;

                font-size: 0.95em;
                .card-date {
                    font-size: var(--font-smaller);
                }
            }
        }

        .card-options {
            position: relative;

            .card-menu-button {
                padding: 0.5em;

            }

            .card-menu {
                background-color: var(--color-light);
                min-width: 100px;
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                z-index: 1;

                position: absolute;
                right: 0;

                border: var(--border-small);
                border-radius: 0.3em;
                overflow: hidden;

                .card-menu-options {
                    padding: 0.5em 1em;

                    
                }

                .card-menu-options:hover {
                    background-color: var(--color-light);
                }
            }
        }
    }

    .card-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0.4em;

        .card-title {
            font-size: 1.2em;
        }
    }

    .card-tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 0.5em;

        .card-tag {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            font-size: var(--font-smaller);
            text-decoration: underline;
        }
    }

    .card-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 0.2em;

        .card-button {

            padding: 0.5em 0.75em;

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            gap: 0.3em;

            cursor: pointer;

            font-size: var(--font-smaller);
            .card-button-icon {
                font-size: 1.5em;
            }
        }
    }
}