@import url("../components/nav.css");
@import url("../components/post.css");
@import url("../components/modals.css");
@import url("../components/register.css");

main {

    #main-content {
        height: 100%;
        padding: 5em 20em;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        gap: 2em;

        ul li {
            list-style: disc inside;
        }

        a:hover {
            color: var(--color-accent);
        }
    }
}