@import url("../components/nav.css");

main {

    margin-top: 2em;

    display: flex;
    justify-content: center;
    gap: 0.75em;

    .posts {

        max-width: 50vw;

        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 0.75em;

        .post {

            /*remove when actual post styling is made for placeholder lang to*/

            border: var(--border);
            border-radius: 0.5em;
            padding: 1em;

            width: 40em;
            height: 10em;

            
        }
    }

    aside {
        max-height: fit-content;
        width: 100%;
        max-width: 20em;
        border: var(--border);
        border-radius: 0.5em;
        overflow: hidden;

        h4 {

            width: 100%;

            padding: 0.5em 1em;
            border-bottom: var(--border);
        }

        ul {

            padding: 1em;

            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;

            li {

                display: flex;
                align-items: center;
                justify-content: center;
                
                a {
                    border: var(--border);
                    border-radius: 9999em;
                    padding: 0.3em 1em;

                    font-size: var(--font-smaller);
                }
            }
        }
    }
}