@import url("../components/nav.css");
@import url("../components/post.css");
@import url("../components/modals.css");
@import url("../components/register.css");
@import url("../components/pagination.css");
@import url("../components/footer.css");

main {

    margin: 2em 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    

    #main-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0.75em;

        #login-note-footer {
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;

            #login-note-footer-button {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

#content-wrapper {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.75em;

    #posts-wrapper {

        width: 45vw;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        gap: 0.75em;
    }

    aside {
        max-height: -webkit-fit-content;
        max-height: -moz-fit-content;
        max-height: fit-content;
        width: 100%;
        max-width: 15em;
        border: var(--border);
        border-radius: 0.5em;
        overflow: hidden;

        h4 {

            width: 100%;

            padding: 0.5em 1em;
            border-bottom: var(--border-small);
        }

        ul {

            padding: 0.75em;

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            gap: 0.5em;

            li {

                display: -webkit-box;

                display: -ms-flexbox;

                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                
                a {
                    border: var(--border);
                    border-radius: 9999em;
                    padding: 0.3em 1em;

                    font-size: var(--font-smaller);
                }
            }
        }
    }
}