@import url("../components/nav.css");
@import url("../components/modals.css");
@import url("../components/post.css");
@import url("../components/register.css");

main {
    margin: 3em 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #main-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 95%;
    }
}

#profileHeader {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 95%;
    margin-top: 0;
    padding-bottom: 3em;
    border-bottom: var(--border);
}

#info {
    display: flex;
    flex-direction: column;
    margin-right: 20em;
}

#editIconBtn {
    position: absolute;
    bottom: 0.25em;
    right: 2.05em;
}

#iconWrapper {
    position: relative;
    display: inline-block;
    margin: 0.05em;
}

#iconWrapper span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 1.4em;
    height: 1.4em;
    color: var(--color-light);
    background-color: var(--color-accent);
    opacity: 0.85;
}

#bio {
    padding: 0.5em;
    width: 25em;
    height: 8em;
    text-wrap: wrap;
    white-space: pre-wrap;
}

#profilePic {
    width: 12em;
    height: 12em;
    max-width: 12em;
    margin-right: 2em;
    box-shadow: 5px 5px 2px;
}

#username {
    margin-bottom: 0.2em;
}

#btnWrap {
    width: 15em;
    max-width: 15em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.profileBtn {
    font-size: 1.2em;
    font-weight: bold;
    outline: 0.2em solid;
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 5em;
    white-space: nowrap;
}

.profileBtn:hover {
    cursor: pointer;
    color: var(--color-accent);
    outline-color: var(--color-accent);
}

.editable {
    outline: 0.1em solid var(--color-accent);
    border-radius: 0.5em;
    white-space: pre-wrap;
    overflow: auto;
}

#profileActivity {
    width: 80%;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

#profileTabs {
    margin-top: 0.1em;
    display: flex;
    gap: 0.7em;
    align-items: center;
}

#profileTabs a {
    font-weight: bold;
    font-size: 1.4em;
}

#viewAll {
    margin-top: 1em;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
}

#viewAll span {
    background-color: transparent;
    font-size: 1.3em;
}

.selected {
    border-bottom: var(--border);
}

#profileTabs button:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.tabContent {
    margin-top: 0.4em;
}

.tabContentWrap {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

#recentLabel {
    padding-bottom: 0.4em;
    border-bottom: 0.15rem dotted var(--color-dark);
}