@import url("../components/nav.css");
@import url("../components/createPost.css");

main {
    margin-top: 3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileHeader {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 95%;
    margin-top: 0;
    padding-bottom: 3em;
    border-bottom: var(--border);
}

#info {
    display: flex;
    flex-direction: column;
    margin-right: 20em;
}

#profilePic {
    width: 12em;
    margin-right: 2em;
    box-shadow: 5px 5px 2px;
}

#username {
    margin-bottom: 0.2em;
}

#editButton {
    font-size: 1.2em;
    font-weight: bold;
    outline: 0.2em solid;
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 5em;
    white-space: nowrap;
}

#editButton:hover {
    cursor: pointer;
    color: var(--color-accent);
    outline-color: var(--color-accent);
}

.post {
    padding: 2em;
    padding-top: 1em;
    border-bottom: var(--border-small);
}

.editable {
    color: var(--color-accent) !important;
}

#profilePosts {
    margin-top: 1.3em;
    width: 90%;
}

#recentLabel {
    padding-bottom: 0.4em;
    border-bottom: 0.15rem dotted var(--color-dark);
}