@import url("../components/nav.css");
@import url("../components/post.css");
@import url("../components/modals.css");
@import url("../components/register.css");
@import url("../components/footer.css");

main {

    height: 60vh;

    #main-content {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        gap: 2em;
        
        h1 {
            font-size: 4.5em;
            &:hover {
                color: var(--color-accent);
            }
        }

        #nav-search {
            position: relative;

            border: var(--border-small);
            padding: 0.3em 1em;
            border-radius: 9999em;

            width: 100%;
            max-width: 50em;

            #search-query {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 0.3em;
                
                input {
                    -webkit-box-flex: 1;
                        -ms-flex: 1 1 50em;
                            flex: 1 1 50em;
                    font-size: var(--font-smaller);
                }

                button {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }
            }

            #search-results {

                display: block;
                border: var(--border-small);
                border-radius: 0.5em;

                overflow: hidden;

                width: 100%;
                position: absolute;
                left: 0;
                top: 2.5em;

                li {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    border-bottom: var(--border-small);
                    overflow: hidden;

                    padding: 0.3em 1em;
                    font-size: var(--font-smaller);

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        padding: 0.3em 1em;
                    }
                }
            }
        }
    }
}