<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/components/createPost.css" />

    <title>Create Post</title>
</head>
<body>
    <!-- to copy paste in main html page -->
    <button id="createPostBtn" class="create-post-btn">
        <span class="material-symbols-outlined"></span>+ Create New Post
    </button>

    <div id="postModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create a New Post</h2>
            <div class="postText-title">
                <textarea id="postTextTitle" placeholder="Enter the title of your post." rows="2"></textarea>
            </div>
            <div class="postText-content">
                <textarea id="postTextContent" placeholder="What's on your mind?" rows="4"></textarea>
            </div>
            
            <div id="tag-area">
                <div id="tag" class="tag">
                  <span>CCAPDEV</span>
                  <span><button><close>×</close></button></span>
                </div>
                <div id="tag" class="tag">
                  <span>MCO1</span>
                  <span><button><close>×</close></button></span>
                </div>
                <div id="tag" class="tag">
                  <span>Famous</span>
                  <span><button><close>×</close></button></span>
                </div>
                <div id="tag" class="tag">
                  <span>Trending</span>
                  <span><button><close>×</close></button></span>
                </div>
                <div id="tag" class="tag">
                  <span>Application Development</span>
                  <span><button><close>×</close></button></span>
                </div>
            </div>
            <div>
                <input type="text" id="new-tag-input" placeholder="Enter a tag">
                <button id="add-tag-button">Add Tag</button>
            </div>

            <div class="postButtons">
                <button id="uploadPostBtn">Upload</button>
                <button id="discardPostBtn">Discard</button>
            </div>
        </div>
    </div>

    <!-- importing javascript -->
    <script src="../../js/components/createPost.js"></script>

</body>
</html>