<!-- Create: New Post -->
<div id="postModal" class="modal hide">
    <div class="modal-content">
        <span class="close" onclick="closeCreatePostModal()">&times;</span>
        <h2>Create a New Post</h2>
        <div class="postText-title">
            <input id="postTextTitle" placeholder="Enter the title of your post." rows="2" />
        </div>
        <div class="postText-content">
            <textarea id="postTextContent" placeholder="What's on your mind?" rows="4"></textarea>
        </div>
        
        <div class="postText-tagArea" id="createPostTagList"></div>
        <div>
            <input type="text" class="post-new-tag-input" id="createPostTagInput" placeholder="Enter a tag">
            <button class="add-tag-button" onclick="addTag('createPostTagInput', 'createPostTagList')">Add Tag</button>
        </div>

        <div class="postButtons">
            <button class="uploadPostBtn" onclick="uploadCreatePostModal()">Upload</button>
            <button class="discardPostBtn" onclick="discardCreatePostModal()">Discard</button>
        </div>
    </div>
</div>    

<!-- Update: Edit Post -->
<div id="editModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Post</h2>
        <div class="postText-title">
            <input id="editPostTextTitle" placeholder="Enter the title of your post." rows="2" />
        </div>
        <div class="postText-content">
            <textarea id="editPostTextContent" placeholder="What's on your mind?" rows="4"></textarea>
        </div>
        
        <div class="postText-tagArea" id="editPostTagList"></div>
        <div>
            <input type="text" class="edit-new-tag-input" id="editPostTagInput" placeholder="Enter a tag">
            <button class="add-tag-button" onclick="addTag('editPostTagInput', 'editPostTagList')">Add Tag</button>
        </div>

        <div class="postButtons">
            <button id="cancelPostBtn">Cancel</button>
            <button id="editPostBtn">Edit</button>
        </div>
    </div>
</div>

<!-- Delete: Delete Existing Post -->
<div id="deletePostModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete this post?</p>
        <div class="postButtons">
            <button id="dlt-cancelPostBtn">Cancel</button>
            <button id="deletePostBtn">Delete</button>
        </div>
    </div>
</div>

<!-- Delete: Delete Existing Comment -->
<div id="deleteCommentModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Delete Comment</h2>
        <p>Are you sure you want to delete this comment?</p>
        <div class="postButtons">
            <button id="dlt-cancelCommentBtn">Cancel</button>
            <button id="deleteCommentBtn">Delete</button>
        </div>
    </div>
</div>