<!-- Create: New Post -->
<div id="postModal" class="modal hide">
    <div class="modal-content">
        <span class="close" onclick="closeCreatePostModal()">&times;</span>
        <h2>Create a New Post</h2>

        <form id="createPostForm">            
            <div class="postText-title">
                <input id="postTextTitle" name="postTextTitle" placeholder="Enter the title of your post." rows="2" required/>
            </div>
            <div class="postText-content">
                <textarea id="postTextContent" name="postTextContent" placeholder="What's on your mind?" rows="4" required></textarea>
            </div>
            
            <div class="postText-tagArea" id="createPostTagList" name="createPostTagList"></div>
            <div>
                <input type="text" class="post-new-tag-input" id="createPostTagInput" name="createPostTagInput" placeholder="Enter a tag">
                <button type="button" class="add-tag-button" onclick="addTag('createPostTagInput', 'createPostTagList')">Add Tag</button>
            </div>
            
            <div class="postButtons">
                <button type="submit" class="uploadPostBtn">Upload</button>
                <button type="button" class="discardPostBtn" onclick="discardCreatePostModal()">Discard</button>
            </div>
        </form>
    </div>
</div>    

<!-- Update: Edit Post -->
<div id="editModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Post</h2>

        <form id="editPostForm">            
            <div class="postText-title">
                <input id="editPostTextTitle" name="editPostTextTitle" placeholder="Enter the title of your post." rows="2" required/>
            </div>
            <div class="postText-content">
                <textarea id="editPostTextContent" name="editPostTextContent" placeholder="What's on your mind?" rows="4" required></textarea>
            </div>
            
            <div class="postText-tagArea" id="editPostTagList" name="editPostTagList"></div>
            <div>
                <input type="text" class="edit-new-tag-input" id="editPostTagInput" name="editPostTagInput" placeholder="Enter a tag">
                <button type="button" class="add-tag-button" onclick="addTag('editPostTagInput', 'editPostTagList')">Add Tag</button>
            </div>
            
            <div class="postButtons">
                <button type="button" id="cancelPostBtn">Cancel</button>
                <button type="submit" id="editPostBtn">Edit</button>
            </div>
        </form>
    </div>
</div>

<!-- Delete: Delete Existing Post -->
<div id="deletePostModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete this post?</p>
        <div class="postButtons">
            <button class="dlt-cancelPostBtn" id="dlt-cancelPostBtn">Cancel</button>
            <button class="deletePostBtn" id="deletePostBtn">Delete</button>
        </div>
    </div>
</div>

<!-- Delete: Delete Existing Comment -->
<div id="deleteCommentModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Delete Comment</h2>
        <p>Are you sure you want to delete this comment?</p>
        <div class="postButtons">
            <button id="dlt-cancelCommentBtn">Cancel</button>
            <button id="deleteCommentBtn">Delete</button>
        </div>
    </div>
</div>