<!-- Create: New Post -->
<div id="postModal" class="modal hide">
    <div class="modal-content">
        <span class="close" onclick="closeCreatePostModal()">&times;</span>
        <h2>Create a New Post</h2>
        <div class="postText-title">
            <input id="postTextTitle" placeholder="Enter the title of your post." rows="2" />
        </div>
        <div class="postText-content">
            <textarea id="postTextContent" placeholder="What's on your mind?" rows="4"></textarea>
        </div>
        
        <div class="postText-tagArea" id="createPostTagList"></div>
        <div>
            <input type="text" class="post-new-tag-input" id="createPostTagInput" placeholder="Enter a tag">
            <button class="add-tag-button" onclick="addTag('createPostTagInput', 'createPostTagList')">Add Tag</button>
        </div>

        <div class="postButtons">
            <button class="uploadPostBtn" onclick="uploadCreatePostModal()">Upload</button>
            <button class="discardPostBtn" onclick="discardCreatePostModal()">Discard</button>
        </div>
    </div>
</div>    

<!-- Read: View Post -->
<div id="viewPostModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="viewPost">
            <div id="postDetails" class="viewPostContent">
                <!-- This part will show a single post using the format from post.html -->
                <div class="post">
                    <div class="post-header">
                        <div class="post-info">
                            <div class="post-icon"><img src="../../assets/defaulticon.png" alt="icon"></div>
                            <div class="post-info-text">
                                <h4 class="post-username" id="modal-username"></h4>
                                <p class="post-date" id="modal-date-posted"></p>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="post-title">
                            <h3 id="modal-post-title"></h3>
                        </div>
                        <div class="post-content" id="modal-post-content"></div>
                    </div>
                    <div class="post-tags" id="modal-post-tags"></div>
                </div>
                <div id="comment-input-box">
                    <form method="post">
                        <textarea name="comment-content" id="comment-input" placeholder="Add a comment..."></textarea>
                    </form>
                    <span class="material-symbols-outlined">send</span>
                </div>
            </div>
            <div id="commentsSection" class="viewPostContent">
                <h3>Comments</h3>
                <div id="commentsList">
                    <!-- Comments will be populated here -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update: Edit Post -->
<div id="editModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Post</h2>
        <div class="postText-title">
            <input id="editPostTextTitle" placeholder="Enter the title of your post." rows="2" />
        </div>
        <div class="postText-content">
            <textarea id="editPostTextContent" placeholder="What's on your mind?" rows="4"></textarea>
        </div>
        
        <div class="postText-tagArea" id="editPostTagList"></div>
        <div>
            <input type="text" class="edit-new-tag-input" id="editPostTagInput" placeholder="Enter a tag">
            <button class="add-tag-button" onclick="addTag('editPostTagInput', 'editPostTagList')">Add Tag</button>
        </div>

        <div class="postButtons">
            <button id="cancelPostBtn">Cancel</button>
            <button id="editPostBtn">Edit</button>
        </div>
    </div>
</div>

<!-- Delete: Delete Existing Post -->
<div id="deletePostModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete this post?</p>
        <div class="postButtons">
            <button id="dlt-cancelPostBtn">Cancel</button>
            <button id="deletePostBtn">Delete</button>
        </div>
    </div>
</div>

<!-- Delete: Delete Existing Comment -->
<div id="deleteCommentModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Delete Comment</h2>
        <p>Are you sure you want to delete this comment?</p>
        <div class="postButtons">
            <button id="dlt-cancelCommentBtn">Cancel</button>
            <button id="deleteCommentBtn">Delete</button>
        </div>
    </div>
</div>