<nav>
    <div id="nav-title">
        <span class="material-symbols-outlined hide" id="sidebar-button">menu</span>
        <div id="sidebar-wrapper" class="hide">
            <div id="sidebar">
                <div id="sidebar-top">
                    <h3>Menu</h3>
                    <span class="material-symbols-outlined" id="sidebar-close">close</span>
                </div>
                <ul>
                    <li>
                        <a href="/" id="sidebar-profile">
                            <div class="labels">
                                <span class="material-symbols-outlined">person</span>
                                <p>Your Profile</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a id="sidebar-logout">
                            <div class="labels">
                                <span class="material-symbols-outlined">logout</span>
                                <p>Log Out</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div id="footer">
                    <ul>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
            <div id="sidebar-overlay"></div>
        </div>
        <h3><a href="/">Archer's Freedom Wall</a></h3>
    </div>
    <div id="nav-search">
        <form id="search-query" method="get" action="/search">
            <input id="search-bar" type="text" placeholder="Search the forums..." name="q">
            <button id="search-button"><span class="material-symbols-outlined">search</span></button>
            <button id="search-clear" class="hide" type="button"><span class="material-symbols-outlined">close</span></button>
        </form>
        <ul id="search-results" class="hide">
        </ul>
    </div>
    <div id="nav-account">
        <div class="hide" id="nav-loggedin">
            <button class="create-post-btn" onclick="openCreatePostModal()">
                <span class="material-symbols-outlined">add</span> New Post
            </button>

            <a id="nav-profile" href="/">
                <div id="nav-icon">
                    <img src="../../assets/defaulticon.png" alt="">
                </div>
                <p id="nav-username"></p>
            </a>
        </div>

        <div id="nav-loggedout">
            <button id="loginbtn">Log In</button>
            <button id="signupbtn">Sign Up</button>
        </div>
    </div>
</nav>