<nav>
    <div class="title">
        <span class="material-symbols-outlined" id="sidebar-button">menu</span>
        <div id="sidebar-wrapper">
            <div id="overlay"></div>
            <div id="sidebar">
                <ul>
                    <li>
                        <a href="#" id="filter-users">
                            <div class="labels">
                                <span class="material-symbols-outlined">person</span>
                                <p>Users</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="filter-posts">
                            <div class="labels">
                                <span class="material-symbols-outlined">sticky_note_2</span>
                                <p>Posts</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="filter-comments">
                            <div class="labels">
                                <span class="material-symbols-outlined">comment</span>
                                <p>Comments</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="filter-tags">
                            <div class="labels">
                                <span class="material-symbols-outlined">tag</span>
                                <p>Tags</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div> 
        </div>
        <h3><a href="/client/html/pages/">Site Name Here</a></h3>
    </div>
    <div class="search">
        <div class="query">
            <input id="searchbar" type="text" placeholder="Search the forums...">
            <button id="search-button">
                <a href="../pages/search.html">
                    <span class="material-symbols-outlined">search</span>
                </a> <!--a tags to be removed, just for phase 1 to reach search page-->
            </button>
            <button id="search-clear" class="hide"><span class="material-symbols-outlined">close</span></button>
        </div>
        <ul id="queryresults" class="hide">
        </ul>
    </div>
    <div class="account">
        <div class="loggedin">
            <button class="newpost">
                <span class="material-symbols-outlined">add</span> New Post
            </button>
            <div class="profile">
                <div class="icon">
                    <img src="../../assets/defaulticon.png" alt="">
                </div>
                <p class="username">User12345</p>
                <div class="options">
                    <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    <ul>
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="loggedout">
            <button id="loginbtn">Log In</button>
            <button id="signupbtn">Sign Up</button>
        </div>
    </div>
</nav>