<nav>
    <div class="title">
        <span class="material-symbols-outlined" id="sidebar-button">menu</span>
        <div id="sidebar-wrapper" class="hide">
            <div id="sidebar">
                <div id="sidebar-top">
                    <h3>Menu</h3>
                    <span class="material-symbols-outlined" id="sidebar-close">close</span>
                </div>
                <ul>
                    <li>
                        <a href="../pages/profile.html" id="sidebar-profile">
                            <div class="labels">
                                <span class="material-symbols-outlined">person</span>
                                <p>Your Profile</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="sidebar-settings">
                            <div class="labels">
                                <span class="material-symbols-outlined">settings</span>
                                <p>Settings</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="sidebar-logout">
                            <div class="labels">
                                <span class="material-symbols-outlined">logout</span>
                                <p>Log Out</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div id="footer">
                    <ul>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
            <div id="sidebar-overlay"></div>
        </div>
        <h3><a href="/client/html/pages/">Site Name Here</a></h3>
    </div>
    <div class="search">
        <div class="query">
            <input id="searchbar" type="text" placeholder="Search the forums...">
            <button id="search-button">
                <a href="../pages/search.html">
                    <span class="material-symbols-outlined">search</span>
                </a> <!--a tags to be removed, just for phase 1 to reach search page-->
            </button>
            <button id="search-clear" class="hide"><span class="material-symbols-outlined">close</span></button>
        </div>
        <ul id="queryresults" class="hide">
        </ul>
    </div>
    <div class="account">
        <div class="loggedin">
            <button id="createPostBtn" class="create-post-btn">
                <span class="material-symbols-outlined">add</span> New Post
            </button>

            <div id="postModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Create a New Post</h2>
                    <div class="postText-title">
                        <textarea id="postTextTitle" placeholder="Enter the title of your post." rows="2"></textarea>
                    </div>
                    <div class="postText-content">
                        <textarea id="postTextContent" placeholder="What's on your mind?" rows="4"></textarea>
                    </div>
                    <div class="postText-tags">
                        <textarea id="postTextTags" placeholder="Enter tags." rows="1"></textarea>
                    </div>
                    <div>
                        <button id="uploadPostBtn">Upload</button>
                        <button id="discardPostBtn">Discard</button>
                    </div>
                </div>
            </div>
        
            <div id="editModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Edit Post</h2>
                    <textarea id="editPostText" rows="4"></textarea>
                    <button id="doneEditBtn">Done</button>
                </div>
            </div>

            <a class="profile" href="../pages/profile.html">
                <div class="icon">
                    <img src="../../assets/defaulticon.png" alt="">
                </div>
                <p class="username">User12345</p>
            </a>
        </div>

        <div class="loggedout">
            <button id="loginbtn">Log In</button>
            <button id="signupbtn">Sign Up</button>
        </div>
    </div>

    <!-- importing javascript -->
    <script src="../../js/components/nav-injector.js"></script>
</nav>

