<head>
    <link rel="stylesheet" href="../../css/components/nav.css">
</head>

<nav>
    <div class="title">
        <span class="material-symbols-outlined">menu</span>
        <h3>Site Name Here</h3>
    </div>
    <div class="search">
        <div class="query">
            <input id="searchbar" type="text" placeholder="Search the forums...">
            <button id="search-button"><span class="material-symbols-outlined">search</span></button>
            <button id="search-clear"><span class="material-symbols-outlined">close</span></button>
        </div>
        <ul id="queryresults" class="hide">
        </ul>
    </div>
    <div class="account">
        <div class="loggedin">
            <button id="createPostBtn" class="create-post-btn">
                <span class="material-symbols-outlined">add</span> New Post
            </button>

            <div id="postModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Create a New Post</h2>
                    <div class="postText-title">
                        <textarea id="postTextTitle" placeholder="Enter the title of your post." rows="2"></textarea>
                    </div>
                    <div class="postText-content">
                        <textarea id="postTextContent" placeholder="What's on your mind?" rows="4"></textarea>
                    </div>
                    <div class="postText-tags">
                        <textarea id="postTextTags" placeholder="Enter tags." rows="1"></textarea>
                    </div>
                    <div>
                        <button id="uploadPostBtn">Upload</button>
                        <button id="discardPostBtn">Discard</button>
                    </div>
                </div>
            </div>
        
            <div id="editModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Edit Post</h2>
                    <textarea id="editPostText" rows="4"></textarea>
                    <button id="doneEditBtn">Done</button>
                </div>
            </div>

            <div class="profile">
                <div class="icon">
                    <img src="../../assets/defaulticon.png" alt="">
                </div>
                <p class="username">User12345</p>
                <div class="options">
                    <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    <ul>
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="loggedout">
            <button id="loginbtn">Log In</button>
            <button id="signupbtn">Sign Up</button>
        </div>
    </div>

    <!-- importing javascript -->
    <script src="../../js/components/nav-injector.js"></script>
</nav>

