{{#each this}}
    <div class="nested-comment">
        {{> comment this}}
    </div>
{{/each}}

{{!-- {{#each this}}
    <div class="nested-comment">
        {{> comment this}}
        {{#if comments.length}}
            <div class="nested-comments">
                {{> nested-comment comments}}
            </div>
        {{/if}}
    </div>
{{/each}} --}}
