<div id="pagination">
    {{#if hasPrevPage}}
        <a href="#" class="pagination-button" id="pagination-prev">Previous</a>
    {{/if}}

    <span data-currentPage="{{currentPage}}" data-totalPages="{{totalPages}}">Page {{currentPage}} of {{totalPages}}</span>

    {{#if hasNextPage}}
        <a href="#" class="pagination-button" id="pagination-next">Next</a>
    {{/if}}
</div>
