<div class="post">
    <div class="post-header">
        <div class="post-info">
            <div class="post-icon"><img src="../../assets/defaulticon.png" alt="icon"></div>
            <div class="post-info-text">
                <h4 class="post-username">{{username}}</h4>
                <p class="post-date">{{date-posted}}</p>
            </div>
        </div>
        <div class="post-options">
            <span class="material-symbols-outlined post-options-button">more_horiz</span>
            <ul class="post-menu hide">
                <li class="post-menu-options editBtn">Edit</li>
                <li class="post-menu-options">Delete</li>
            </ul>
        </div>

    </div>

    <div class="post-body">
        <div class="post-title">
            <a href="../pages/post.html?id={{post-id}}"><h3>{{post-title}}</h3></a>
        </div>
        <div class="post-content">
            {{post-content}}
            <a class="content-readmore hide" href="#">Read more</a>
        </div>
    </div>
    <div class="post-tags">
        {{post-tags}}
    </div>
    <div class="post-buttons">
        <div class="post-button">
            <span class="material-symbols-outlined post-button-icon">thumb_up</span>
            <span class="post-count">Like</span>
        </div>
        <div class="post-button">
            <span class="material-symbols-outlined post-button-icon">thumb_down</span>
            <span class="post-count">Dislike</span>
        </div>
        <div class="post-button">
            <span class="material-symbols-outlined post-button-icon">chat_bubble</span>
            <span class="post-count">Comment</span>
        </div>
    </div>
</div>