<div class="hide" id="overlay" onclick="closeReg()"></div>

<div class="hide" id="regWindow">
    <span class="regClose" onclick="closeReg()">&times;</span>
    <div class="regContent" id="login">
        <h2>Log In</h2>
        <form id="loginForm">
            <label for="loginUser">Username</label><br/>
            <input type="text" id="loginUser" name="username" class="regInput" required/><br/>
            <label for="loginPass">Password</label><br/>
            <div class="passWrap">
                <input type="password" id="loginPass" name="password" class="regInput" required/>
                <span class="material-symbols-outlined visibilityBtn" id="loginPassVisibility">visibility</span>
            </div>
            <br/>
            <input type="checkbox" id="rememberMe" name="rememberMe"/>
            <label for="rememberMe">Remember me on this computer</label>
            <br/>
            <input type="submit" class="regButton" value="Log In">
        </form>
        <p>Don't have an account? <a onclick="showSignup()">Sign up</a></p>
    </div>

    <div class="regContent hide" id="signup">
        <h2>Sign Up</h2>
        <form id="signupForm">
            <label for="signupUser">Username</label><br/>
            <input type="text" id="signupUser" name="signupUser" class="regInput" required/><br/>
            <label for="signupPass">Password</label><br/>
            <div class="passWrap">
                <input type="password" id="signupPass" name="signupPass" class="regInput" required/>
                <span class="material-symbols-outlined visibilityBtn" id="signupPassVisibility">visibility</span>
            </div>
            <br/>
            <label for="resignupPass">Confirm Password</label><br/>
            <div class="passWrap">
                <input type="password" id="resignupPass" name="resignupPass" class="regInput" required/>
                <span class="material-symbols-outlined visibilityBtn" id="resignupPassVisibility">visibility</span>
            </div>
            <br/>
            <input type="submit" class="regButton" value="Sign Up">
        </form>
        <p>Already have an account? <a onclick="showLogin()">Log in</a></p>
    </div>
</div>