@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-light: hsl(150, 33%, 99%);
    --color-light-dark: hsl(132, 100%, 90%);

    --color-dark: hsl(143, 28%, 27%);
    --color-dark-dark: hsl(143, 28%, 20%);

    --color-accent: hsl(123, 29%, 58%);
    --color-accent-dark: hsl(123, 29%, 45%);

    --font-heading: 'Inter', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-smaller: 0.85em;

    --border: 0.15rem solid var(--color-dark);
    --border-small: 0.1rem solid var(--color-dark);
}

.dark-mode {
    --color-light: hsl(144, 16%, 6%);
    --color-light-dark: hsl(140, 6%, 19%);
    
    --color-dark: hsl(120, 15%, 84%);
    --color-dark-dark: hsl(132, 100%, 90%);

    --color-accent: hsl(123, 29%, 58%);
    --color-accent-dark: hsl(123, 29%, 45%);

    --border: 0.15rem solid var(--color-light-dark);
    --border-small: 0.1rem solid var(--color-light-dark);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-light);

    list-style: none;
    text-decoration: none;
    color: var(--color-dark);

    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 700;
}

button, input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: inherit;
    cursor: pointer;
}

:focus {
    outline: none;
}

img, video {
    max-width: 100%;
    height: auto;
    border: var(--border-small);
}

html, body {
    background-color: var(--color-light);
    min-width: 100vw;
    min-height: 100vh;
}


.icon img {
    border-radius: 50%;
}

.hide {
    display: none !important;
}

.options {

    position: relative;

    ul {

        border: var(--border);
        min-width: max-content;

        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}